.CardsDark{
    background-color: rgb(34, 37, 34) !important;
    color: #fff !important;
}
.CardsLight{
    background-color: #fff !important;
    color: black !important;
}
.item{
    width: 100%;
    border: 2px solid red;
}

.cont{
    border: 2px solid red;
    width: 100%;
}